{% extends 'layouts/base.html' %}

{% set story_grid_headline = 'Stories' %}

{% block header %}
<header class="standard-header" role="header">
  <div class="standard-header__container">
    <h2 class="logos">
      <div class="logos__faux-border">
        <a class="header__link logos__link" href="http://www.texastribune.org/" alt="The Texas Tribune">
          <img class="logos__image logos__image--tribune" src="{{ data.PATH_PREFIX }}assets/images/logos/texas-tribune.svg">
        </a>
      </div>
      <a class="header__link logos__link" href="http://www.beaumontenterprise.com/" alt="The Beaumont Enterprise">
        <img class="logos__image logos__image--beaumont" src="{{ data.PATH_PREFIX }}assets/images/logos/beaumont-enterprise.svg">
      </a>
    </h2>
    <h1 class="standard-header__right project-title">
      <a class="project-title__link" href="{{ data.PATH_PREFIX }}{{ data.LATEST_STORY.slug }}.html">
        <img class="project-title__image project-title__image--banner" src="{{ data.PATH_PREFIX }}assets/images/logos/mobile-logo.svg" alt="Road to Rita">
      </a>
    </h1>
  </div>
</header>

<nav class="nav nav--mobile">
  <a class="nav__title" id="js-nav-menu" href="#">Stories <i class="icon-chevron-down"></i></a>
  <div class="nav__dropdown" id="js-nav-dropdown">
  <ul class="stories-list">
     {% for story in data.metadata.storylist %}
    <li class="stories-list__story">
      <time class="stories-list__pub-date">{{ data[story.id].pub_date }}</time>
      {% if story.published %}<a class="stories-list__story-link{% if context.id == story.id %} stories-list__story-link--is-active{% endif %}" href="{{ data.PATH_PREFIX }}{{ story.slug }}.html">{% else %}<span class="stories-list__story-link stories-list__story-link--is-disabled">{% endif %}
        <span class="stories-list__headline">{{ data[story.id].short_head }}</span>
      {% if story.published %}</a>{% else %}</span>{% endif %}
    </li>
    {% endfor %}
  </ul>
  <ul class="extras-list">
    <li class="extras-list__item">
      <a class="extras-list__link" href="{{ data.PATH_PREFIX }}event.html">Road From Rita Event</a>
    </li>
    <li class="extras-list__item">
      <a class="extras-list__link" href="{{ data.PATH_PREFIX }}gallery.html">Photo Gallery</a>
    </li>
  </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="footer-container">
    <nav>
      <ul>
        <li class="copywrite">&copy; 2015 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
      </ul>
    </nav>
    <nav class="last-nav">
      <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li class="donate"><a href="https://www.texastribune.org/join/">Donate</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}
