{% extends 'layouts/base.html' %}

{% from 'macros/authors.html' import authors %}
{% import 'macros/prose.html' as prose %}
{% import 'macros/shares.html' as shares %}

{% set story_grid_headline = 'Other stories' %}

{% block main_class %}content{% endblock %}

{% block header %}
<header class="sidebar" role="banner">
    <h2 class="logos logos--sidebar">
      <div class="logos__faux-border">
        <a class="sidebar__link logos__link" href="http://www.texastribune.org/" alt="The Texas Tribune">
          <img class="logos__image logos__image--tribune" src="{{ data.PATH_PREFIX }}assets/images/logos/texas-tribune.svg">
        </a>
      </div>
      <a class="sidebar__link logos__link" href="http://www.beaumontenterprise.com/" alt="The Beaumont Enterprise">
        <img class="logos__image logos__image--beaumont" src="{{ data.PATH_PREFIX }}assets/images/logos/beaumont-enterprise.svg">
      </a>
    </h2>
  <h1 class="sidebar__right project-title">
    <a class="project-title__link" href="{{ data.PATH_PREFIX }}{{ data.LATEST_STORY.slug }}.html">
      <img class="project-title__image project-title__image--mobile" src="{{ data.PATH_PREFIX }}assets/images/logos/mobile-logo.svg" alt="Road to Rita">
      <img class="project-title__image project-title__image--desktop" src="{{ data.PATH_PREFIX }}assets/images/logos/desktop-logo.svg" alt="Road to Rita">
    </a>
  </h1>

  <nav class="nav nav--desktop">
    <h3 class="nav__title">Stories</h3>
    <ul class="stories-list">
       {% for story in data.metadata.storylist %}
      <li class="stories-list__story">
        <time class="stories-list__pub-date">{{ data[story.id].pub_date }}</time>
        {% if story.published %}<a class="stories-list__story-link{% if context.id == story.id %} stories-list__story-link--is-active{% endif %}" href="{{ data.PATH_PREFIX }}{{ story.slug }}.html">{% else %}<span class="stories-list__story-link stories-list__story-link--is-disabled">{% endif %}
          <span class="stories-list__headline">{{ data[story.id].short_head }}</span>
        {% if story.published %}</a>{% else %}</span>{% endif %}
      </li>
      {% endfor %}
    </ul>
    <ul class="extras-list">
      <li class="extras-list__item">
        <a class="extras-list__link" href="{{ data.PATH_PREFIX }}event.html"><span class="extras-list__link--long">Road From&nbsp;</span>Rita Event</a>
      </li>
      <li class="extras-list__item">
        <a class="extras-list__link" href="{{ data.PATH_PREFIX }}gallery.html">Photo Gallery</a>
      </li>
    </ul>
  </nav>
</header>

<nav class="nav nav--mobile">
  <a class="nav__title" id="js-nav-menu" href="javascript:void(0)">Stories <i class="icon-chevron-down"></i></a>
  <div class="nav__dropdown" id="js-nav-dropdown">
  <ul class="stories-list">
     {% for story in data.metadata.storylist %}
    <li class="stories-list__story">
      <time class="stories-list__pub-date">{{ data[story.id].pub_date }}</time>
      {% if story.published %}<a class="stories-list__story-link{% if context.id == story.id %} stories-list__story-link--is-active{% endif %}" href="{{ data.PATH_PREFIX }}{{ story.slug }}.html">{% else %}<span class="stories-list__story-link stories-list__story-link--is-disabled">{% endif %}
        <span class="stories-list__headline">{{ data[story.id].short_head }}</span>
      {% if story.published %}</a>{% else %}</span>{% endif %}
    </li>
    {% endfor %}
  </ul>
  <ul class="extras-list">
    <li class="extras-list__item">
      <a class="extras-list__link" href="{{ data.PATH_PREFIX }}event.html"><span class="extras-list__link--long">Road From </span>Rita Event</a>
    </li>
    <li class="extras-list__item">
      <a class="extras-list__link" href="{{ data.PATH_PREFIX }}gallery.html">Photo Gallery</a>
    </li>
  </ul>
  </div>
</nav>

{% endblock %}

{% block content %}
<header class="story-header">
  <h1 class="story-header__headline">{{ context.headline|widont }}</h1>
  <p class="story-header__byline"> by {{ authors(context.authors) }} | {{ context.pub_date }}</p>
  <div class="story-header__shares">
    <ul class="share-row">
      <li class="share-row__icon"><a class="js-twitter-button" href="{{ shares.twitter(data.PATH_FULL + context.id + '.html', context.twitter_text, 'roadfromrita') }}"><i class="icon-twitter" target="_blank"></i></a></li>
      <li class="share-row__icon"><a class="js-facebook-button" href="{{ shares.facebook(data.PATH_FULL + context.id + '.html', data.PATH_FULL + context.id + '.html') }}"  target="_blank"><i class="icon-facebook"></i></a></li>
      <li class="share-row__icon"><a class="js-email-button" href="{{ shares.email(context.headline + ' | Road From Rita', data.PATH_FULL + context.id + '.html') }}"><i class="icon-envelope"></i></a></li>
    </ul>
  </div>
  </div>
</header>

<figure class="image image--lead-art">
  <img class="image__img" src="{{ data.PATH_PREFIX}}assets/images/{{ context.lead_art.photo_url }}">
  <figcaption class="image__caption">{{ context.lead_art.caption }}{% if context.lead_art.credit %} | {{ context.lead_art.credit }}{% endif %}</figcaption>
</figure>

<article class="story-prose">
{% for item in context.prose %}
{{ prose[item.type](item.value, data) }}
{% endfor %}
{% if context.disclosure %}
{{ prose.disclosure(context.disclosure) }}
{% endif %}
{% if context.republish %}
{{ prose.disclosure(context.republish) }}
{% endif %}

<p class="story-prose__disclosure">The Texas Tribune and the Beaumont Enterprise partnered for a project looking at the 2005 evacuation of Southeast Texas ahead of Hurricane Rita and whether a similar catastrophe can be avoided when the next big storm hits. This website was developed and designed by <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a> and <a href="http://www.texastribune.org/about/staff/ben-hasson/">Ben Hasson</a>.</p>
</article>

{% include 'partials/storygrid.html' %}
{% include 'partials/comments.html' %}
<footer class="footer">
  <div class="footer-container">
    <nav>
      <ul>
        <li class="copywrite">&copy; 2015 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
      </ul>
    </nav>
    <nav class="last-nav">
      <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li class="donate"><a href="https://www.texastribune.org/join/">Donate</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}
