$sidebar-break: 56.25em; // 900px
$sidebar-height-break: 46.875em; // 750px
$sidebar-height-giveaway-break: 40.625em; // 650px

$mid-sidebar-break: 75em; // 1200px
$gallery-container-width: 68.75em; // 1100px
