$color-dark-grey: rgb(40, 40, 40);
$color-dark-storm: rgb(60, 72, 80);
$color-light-storm: rgb(96, 111, 123);
$color-overcast: rgb(136, 155, 171);
$color-tarp-blue: rgb(53, 115, 185);
$color-sign-green: rgb(38, 169, 141);
$color-light-sign-green: rgb(125, 203, 187);
$color-raincoat-yellow: rgb(247, 160, 45);
$color-white: rgb(255, 255, 255);
