.background-invert {
  background-color: $color-dark-grey;
}

.clearfix {
  @include clearfix;
}

%content-padding {
  padding-left: 1rem;
  padding-right: 1rem;

  @include susy-media($sidebar-break) {
    .content & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .gallery-content & {
    @include susy-media($gallery-container-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.content-break {
  @extend %content-padding;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 800;
}
