.ad-slot {
  border-bottom: 1px solid lighten($color-overcast, 20%);
  border-top: 1px solid lighten($color-overcast, 20%);
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  text-align: center;

  @include susy-media($sidebar-break) {
    text-align: left;
  }

  .gallery-content & {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 4rem;
    text-align: center;
  }

  &__ad {
    vertical-align: bottom;

    &--desktop {
      display: none;

      @include susy-media($sidebar-break) {
        display: inline-block;
      }
    }

    &--mobile {
      text-align: center;

      @include susy-media($sidebar-break) {
        display: none;
      }
    }
  }
}
