.project-title {
  text-align: center;

  &__image {
    &--desktop {
      display: none;

      @include susy-media((min-width: $sidebar-break, min-height: $sidebar-height-giveaway-break)) {
        display: inline-block;
        height: 65px;
        margin-bottom: 1.5rem;
      }

      @include susy-media((min-width: $mid-sidebar-break, min-height: $sidebar-height-break)) {
        display: inline-block;
        height: 100px;
        margin-bottom: 1.5rem;
      }

      @include susy-media(min-height 43.75em) {
        margin-bottom: 2rem;
      }
    }

    &--mobile {
      height: 24px;
      vertical-align: middle;

      @include susy-media((min-width: $sidebar-break, min-height: $sidebar-height-giveaway-break)) {
        display: none;
      }
    }

    &--banner {
      height: 24px;
      vertical-align: middle;

      @include susy-media((min-width: $sidebar-break, min-height: $sidebar-height-giveaway-break)) {
        height: 32px;
      }
    }
  }
}
