{% extends 'layouts/standard.html' %}

{% import 'macros/prose.html' as prose %}
{% set context = data.gallery %}

{% block body_class %}invert{% endblock %}

{% block main_class %}gallery-content{% endblock %}

{% block content %}

<div class="gallery-content__intro gallery-content__narrow">
  <header class="story-header">
    <h1 class="story-header__headline story-header__headline--invert">{{ context.headline }}</h1>
  </header>
  <div class="story-prose gallery-prose">
    {% for item in context.prose %}
    {{ prose[item.type](item.value) }}
    {% endfor %}
  </div>
</div>

<article class="gallery-content__photos">
{% for item in context.photos %}
{{ prose[item.type](item.value) }}
{% endfor %}
</article>

<div class="gallery-content__narrow">
{% include 'partials/storygrid.html' %}
</div>
{% endblock %}
